# Visual Studio & IDE cache
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Build Directories
bin/
obj/
x64/
x86/
ARM64/
Debug/
Release/
out/
build/CMakeCache.txt
build/CmakeFiles/

# Compiled Binaries & Outputs
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.exp
*.appx
*.msix
*.pri

# Temporary & Log Files
*.log
*.tmp
*.cache
*.suo
*.ipch

# OS/System Specific
.DS_Store
Thumbs.db
